*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      list-style: none;
      /* border:  solid 1px red; */
}

body{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      background: #161925;
      width: 100vw;
}

#container {
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background: #fcfcfc;
}


header input , header button {
      height: 40px;
      padding: 10px;
      border: none;
}

header {
      display: flex;
      justify-content: space-evenly;
      width: 92%;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      padding: 10px;
}

header input {
      width: 64%;
      background: #cec2c2;
}

header button {
      width: 24%;
      background: rgb(62, 62, 252);
      border:none;
      color: #fff;
      cursor: pointer;
}

header button:hover {
      background: rgb(27, 27, 148);
}

main {
      width: 92%;
}

.task {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 60px;
      padding: 10px;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      width: 100%;
      margin-bottom: 10px;
}

.edit, .delete{
      display: inline;
      color: #fff;
      cursor: pointer;
      padding: 10px;
      border-radius: 5px;
      width: 70px;
      text-align: center;
}

.title {
      height: 70px;
      width: 60%;
      margin: 10px;
      overflow-x: auto;
}

.edit {
      background: green;
      margin: 10px;
}

.edit:hover {
      background: rgb(5, 243, 5);
}

.delete {
      background: #f59607;
      margin: 10px;
}

.delete:hover {
      background: #f81c03;
}

#erase {
      width: 92%;
      text-align: center;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
      padding: 10px;
      cursor: pointer;
      background: #f81c03;
      font-size: 24px;
      margin: 10px 0;
      color: #fff;
}

@media only screen and (max-width: 300px) {
      * {
            font-size: 10px;
      }

      #container {
            width: 100%;
            margin: 0;
      }

      .delete, .edit {
            margin: 3px;
            padding: 3px;
            border-radius: 2px;
      }
      #erase {
            font-size: 12px;
      }


}

@media only screen and (max-width: 600px) {
      * {
            font-size: 12px;
      }

      #container {
            width: 100%;
            margin: 0;
      }

      .task {
            min-height: 20px;
            padding: 2px 5px;
      }
      .delete, .edit {
            margin: 2px 5px;
            padding: 5px;
            border-radius: 4px;
      }

      #erase {
            font-size: 14px;
      }
}

@media only screen and (max-width: 900px) {
      * {
            font-size: 16px;
      }

      #container {
            width: 90%;
            margin: 0;
      }

      .task {
            min-height: 40px;
            padding: 4px 8px;
      }
      .delete, .edit {
            margin: 4px 8px;
            padding: 5px;
            border-radius: 4px;
      }

      #erase {
            font-size: 20px;
      }     
}